@import '../../assets/less/color';
.app-mine{
  width: 80%;
  margin: 0 auto;
  &-item{
    margin-bottom: .2rem;
  }
  &-title{
    font-weight: bold;
    display: flex;
    align-items: center;
    
  }
  .mine-item{
    width: 25%;
    display: inline-block;
    padding: .2rem;
    img{
      height: 2rem;
    }
    .desc{
      text-align: center;
      margin-top: .1rem;
    }
  }
  .plan-item{
    margin: .1rem 1em;
    display: flex;
    align-items: center;
    &:before{
      .c-circle();
    }
  }

  
}