@import '../../assets/less/color';
.app-notes{
  width: 80%;
  margin: 2rem auto;
  &-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .item{
      position: relative;
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      max-width: 350px;
      &-bg{
        padding: .2rem;
        border: 1px solid fade(@text-color,50%);
        position: absolute;
        left: 50%;
        margin-left: -1.2rem;
        z-index: -1;
        transform: rotate(45deg);
      }
      &-in{
        width: 2rem;
        height: 2rem;
        border: 1px solid fade(@text-color,50%);
        // background-color: @text-color;
      }
      &-content{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        // color: #fff;
        font-size: .3rem;
      }
      
    }
    
  }
}

